<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title>View Gudang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2>Detail Gudang</h2>
    <form th:action="@{/obat/filter}" method="GET">
        <select name="idGudang">
            <option value="" >-----List Gudang-----</option>
            <option th:each="gudang : ${listGudang}"
                    th:value="${gudang.idGudang}"
                    th:text="${gudang.namaGudang}"></option>
        </select>
        <br>
        <select name="idSupplier">
            <option value="">-----Pilih Supplier-----</option>
            <option th:each="supplier : ${listSupplier}"
                    th:value="${supplier.idSupplier}"
                    th:text="${supplier.namaSupplier}"></option>
        </select>
        <br>
        <select name="idJenis">
            <option value="">-----Pilih Jenis-----</option>
            <option th:each="jenis : ${listJenis}"
                    th:value="${jenis.idJenis}"
                    th:text="${jenis.namaJenis}"></option>
        </select>
        <br>
        <button type="submit"> Submit </button>
    </form>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">NO</th>
            <th scope="col">KODE</th>
            <th scope="col">NAMA</th>
            <th scope="col">NOMOR REGISTRASI</th>
            <th scope="col">TANGGAL TERBIT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obat, iterationStatus : *{listObat}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text="${obat.kodeObat}"></td>
            <td th:text="${obat.namaObat}"></td>
            <td th:text="${obat.nomorRegistrasiObat}"></td>
            <td th:text="${obat.tanggalTerbitObat}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>