<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Add Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h3> Tambah Obat </h3>
<form th:action="@{/obat}" th:object="${obat}" method="POST">
    Nama: <br>
    <input type="text" name="namaObat"  th:field="*{namaObat}"/>
    <br>
    Nomor Registrasi: <br>
    <input type="text" name="nomorRegistrasiObat" th:field="*{nomorRegistrasiObat}"/>
    <br>
    <!--Kode: <br>
    <input type="text" name="kodeObat" />
    <br>-->
    Tanggal Terbit: <br>
    <input type="date" name="tanggalTerbitObat" th:field="*{tanggalTerbitObat}"/>
    <br>
    Harga: <br>
    <input type="text" name="hargaObat" th:field="*{hargaObat}"/>
    <br>
    Bentuk: <br>
    <select name="bentukObat" th:field="*{bentukObat}">
        <option th:value="Cairan" th:text="Cairan"></option>
        <option th:value="Kapsul" th:text="Kapsul"></option>
        <option th:value="Tablet" th:text="Tablet"></option>
    </select>
    <br>
    Jenis: <br>
    <select name="jenis">
        <option th:each="jenis : ${listJenis}"
                th:value="${jenis.idJenis}"
                th:text="${jenis.namaJenis}"></option>
    </select>
    <br>
    <div class="form-group">
        <label>Supplier: </label>
    <select name="supplierObat" th:each="obatSupplier, iterationStatus : ${obat.listObatSupplier}"
            th:field="${obat.listObatSupplier[__${iterationStatus.index}__].supplier.idSupplier}" class="form-control" required>
        <option th:each="supplier : ${listSupplier}"
                th:value="${supplier.idSupplier}"
                th:text="${supplier.namaSupplier}"></option>
    </select>
        <button name="addRowSupplier" class="btn btn-primary" style="=color: white">Tambah Supplier</button>
    </div>
    <br>
    <button type="submit" name="submit"> Submit </button>
</form>
<br>

</body>
</html>