<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title>View Gudang</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card">
        <div class="card-header" style="background:#ffffff;">
            <font size="10">Lihat Daftar Obat yang Sudah Expired di Suatu Gudang</font>
        </div>
        <div class="card-body">
            <form th:action="@{/gudang/expired-obat}" method="GET">
                <div class="form-group-row">
                    <label class="col-sm-2 col-form-label">Pilih Gudang </label>
                    <div class="col-sm-10">
                        <select name="idGudang" class="form-control">
                            <option th:each="gudang : ${listGudang}"
                                    th:value="${gudang.idGudang}"
                                    th:text="${gudang.namaGudang}"></option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-group-row">
                    <div class="col-sm-10">
                        <button class="btn btn-primary" style="color: white" type="submit" name="submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>