<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title>View Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2>Detail Data Obat</h2>
    <br>
    <dl class="row">
        <dt class="col-sm-3">Kode:</dt>
        <dd class="col-sm-9" th:text="${obat.kodeObat}"></dd>
        <dt class="col-sm-3">Nama:</dt>
        <dd class="col-sm-9" th:text="${obat.nomorRegistrasiObat}"></dd>
        <dt class="col-sm-3">Bentuk:</dt>
        <dd class="col-sm-9" th:text="${obat.bentukObat}"></dd>
        <dt class="col-sm-3">Tanggal Terbut:</dt>
        <dd class="col-sm-9" th:text="${obat.tanggalTerbitObat}"></dd>
        <dt class="col-sm-3">Harga:</dt>
        <dd class="col-sm-9" th:text="${obat.hargaObat}"></dd>
        <dt class="col-sm-3">Jenis:</dt>
        <dd class="col-sm-9" th:text="${obat.jenisObat.namaJenis}"></dd>
        <dt class="col-sm-3">Gudang:</dt>
        <dd class="col-sm-9" th:each="gudang: *{listGudang}">
            <p th:text="${gudang.namaGudang}"></p>
        </dd>
        <dt class="col-sm-3">Supplier:</dt>
        <dd class="col-sm-9" th:each="supplier: *{listSupplier}">
            <p th:text="${supplier.namaSupplier}"></p>
        </dd>

    </dl>
</div>
</body>
</html>